$unit: 1cm;
$fontunit: 1pt;
$pixel: 1px;

$caption-color: #852064;
$caption-font: 'Arial';
$caption-size: 11;
$caption-height: $caption-size + 2;

$body-font: 'Source Sans Pro,Arial';
$body-color: black;
$body-size: 12;
$body-height: $body-size + 2;
$body-weight: light;

$heading-font-size: 25;
$heading-font-color: $emerald;
$heading-font-weight: 600;
$heading-font-family: 600;

$indent: 1;

$gridtable-margin: 0.5;
$gridtable-border-color: black;
$gridtable-border-width: 3;
$gridtable-text-color: magenta;

$gridtable-background-color: grey;
$gridtable-text-size: 10;
$gridtable-heading-background-color: blue;
$gridtable-heading-text-color: green;
$gridtable-heading-text-size: 12;
$gridtable-subheading-background-color: yellow;
$gridtable-subheading-text-color: green;
$gridtable-font: 'Helvetica';
$codefont: monospace;
$parameter-background-color: $charcoal40;
$parameter-text-color: white;