$unit: 1em;
$fontunit: 1pt;
$pixel: 1px;

$caption-color: #852064;
$caption-font: 'Source Sans Pro,Arial';
$caption-size: 11;
$caption-height: $caption-size + 2;

$body-font: 'Source Sans Pro,Arial';
$body-color: #000000;
$body-size: 12;
$body-height: $body-size + 2;
$body-weight: light;

$heading-font-size: 25;
$heading-font-color: $emerald;
$heading-font-weight: 600;
$heading-font-family: 600;


$indent: 3;

$gridtable-margin: 0.5;
$gridtable-border-color: black;
$gridtable-border-width: 1;
$gridtable-text-color: black;
$gridtable-text-size: 12;

$gridtable-background-color: white;
$gridtable-heading-background-color: #a6a6a6;
$gridtable-heading-text-color: white;
$gridtable-heading-text-size: 14;
$gridtable-subheading-background-color: #862165;
$gridtable-subheading-text-color: white;

$gridtable-font: 'Source Sans Pro,Arial';
$codefont: monospace;
$parameter-background-color: $charcoal40;
$parameter-text-color: white;