@charset "UTF-8";
/* PRINT STYLESHEET  */
@media print {
  .test {
    color: #84d6ad;
    color: #a3e0c2;
    color: #c2ebd6;
    color: #e0f5eb; }

  div.nopagebreak {
    page-break-inside: avoid; }

  div.pagebreakbefore {
    page-break-before: always; }

  .code {
    unicode-bidi: embed;
    font-family: monospace;
    color: red;
    white-space: pre;
    mc-language: none;
    mc-hyphenate: never; }

  .parameter {
    background: #adadad;
    font-family: monospace;
    color: white;
    mc-language: none; }

  .nospell {
    mc-language: none; }

  p.FigureCaption {
    text-align: left;
    margin-left: 0cm;
    margin-right: 0cm;
    margin-top: 0cm;
    margin-bottom: 0cm;
    letter-spacing: 0cm;
    font-family: "Arial";
    font-weight: bold;
    font-style: normal;
    font-size: 11pt;
    color: #852064;
    mc-hyphenate: never;
    text-indent: 0cm;
    line-height: 13pt;
    text-decoration: none; }

  .UItext {
    font-family: Arial;
    font-weight: bold; }

  p {
    text-align: left;
    margin-left: 0cm;
    margin-right: 0cm;
    margin-top: 0cm;
    margin-bottom: 0cm;
    letter-spacing: 0cm;
    font-family: "Source Sans Pro,Arial";
    font-weight: normal;
    font-style: normal;
    font-size: 12pt;
    letter-spacing: 0cm;
    color: black;
    weight: light;
    text-indent: 0cm;
    line-height: 14pt;
    text-decoration: none;
    text-indent: 0cm; }

  p.indent1 {
    text-align: left;
    margin-left: 0cm;
    margin-right: 0cm;
    margin-top: 0cm;
    margin-bottom: 0cm;
    letter-spacing: 0cm;
    font-family: "Source Sans Pro,Arial";
    font-weight: normal;
    font-style: normal;
    font-size: 12pt;
    letter-spacing: 0cm;
    color: black;
    weight: light;
    text-indent: 0cm;
    line-height: 14pt;
    text-decoration: none;
    text-indent: 1cm; }

  p.indent2 {
    text-align: left;
    margin-left: 0cm;
    margin-right: 0cm;
    margin-top: 0cm;
    margin-bottom: 0cm;
    letter-spacing: 0cm;
    font-family: "Source Sans Pro,Arial";
    font-weight: normal;
    font-style: normal;
    font-size: 12pt;
    letter-spacing: 0cm;
    color: black;
    weight: light;
    text-indent: 0cm;
    line-height: 14pt;
    text-decoration: none;
    text-indent: 2cm; }

  table.gridtable {
    margin-top: 0.5cm;
    margin-bottom: 0.5cm;
    border-collapse: collapse;
    border-left-style: solid;
    border-left-width: 3px;
    border-left-color: black;
    border-right-style: solid;
    border-right-width: 3px;
    border-right-color: black;
    border-top-style: solid;
    border-top-width: 3px;
    border-top-color: black;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: black;
    margin-left: 0cm; }

  div.codesample {
    background-color: gray;
    margin-left: 0cm; }

  div.codesample:before {
    color: yellow;
    content: "Code Sample\a";
    text-decoration: underline; }

  button.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-left: 0cm; }

  table.gridtable td {
    display: table-cell;
    vertical-align: top;
    border-width: 3px;
    padding: 4px 4px 8px 8px;
    border-style: solid;
    border-color: black;
    background-color: grey;
    separator-style: double;
    separator-width: 3px;
    text-align: left;
    font-weight: normal;
    line-height: 12pt;
    font-family: "Helvetica";
    font-size: 10pt;
    color: magenta; }

  table.gridtable thead tr th {
    display: table-cell;
    vertical-align: top;
    border-width: 3px;
    padding: 4px 4px 8px 8px;
    border-style: solid;
    border-color: black;
    background-color: blue;
    text-align: left;
    font-weight: bold;
    line-height: 14pt;
    font-family: "Helvetica";
    font-size: 12pt;
    color: green; }

  table.gridtable tbody tr td p {
    text-align: left;
    font-weight: normal;
    line-height: 12pt;
    font-family: "Helvetica";
    font-size: 10pt;
    color: magenta; }

  table.gridtable tbody tr td {
    text-align: left;
    font-weight: normal;
    line-height: 12pt;
    font-family: "Helvetica";
    font-size: 10pt;
    color: magenta; }

  table.gridtable thead tr th p {
    text-align: left;
    font-weight: bold;
    line-height: 14pt;
    font-family: "Helvetica";
    font-size: 12pt;
    color: green; }

  table.gridtable tbody tr.subhead td {
    background-color: yellow;
    text-align: left;
    font-weight: bold;
    line-height: 14pt;
    font-family: "Helvetica";
    font-size: 12pt;
    color: green; }

  table.gridtable tbody tr.subhead td p {
    background-color: yellow;
    text-align: left;
    font-weight: bold;
    line-height: 14pt;
    font-family: "Helvetica";
    font-size: 12pt;
    color: green; }

  table.gridtable1 {
    margin-top: 0.5cm;
    margin-bottom: 0.5cm;
    border-collapse: collapse;
    border-left-style: solid;
    border-left-width: 3px;
    border-left-color: black;
    border-right-style: solid;
    border-right-width: 3px;
    border-right-color: black;
    border-top-style: solid;
    border-top-width: 3px;
    border-top-color: black;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: black;
    margin-left: 1cm; }

  div.codesample1 {
    background-color: gray;
    margin-left: 1cm; }

  div.codesample1:before {
    color: yellow;
    content: "Code Sample\a";
    text-decoration: underline; }

  button.btn1 {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-left: 1cm; }

  table.gridtable1 td {
    display: table-cell;
    vertical-align: top;
    border-width: 3px;
    padding: 4px 4px 8px 8px;
    border-style: solid;
    border-color: black;
    background-color: grey;
    separator-style: double;
    separator-width: 3px;
    text-align: left;
    font-weight: normal;
    line-height: 12pt;
    font-family: "Helvetica";
    font-size: 10pt;
    color: magenta; }

  table.gridtable1 thead tr th {
    display: table-cell;
    vertical-align: top;
    border-width: 3px;
    padding: 4px 4px 8px 8px;
    border-style: solid;
    border-color: black;
    background-color: blue;
    text-align: left;
    font-weight: bold;
    line-height: 14pt;
    font-family: "Helvetica";
    font-size: 12pt;
    color: green; }

  table.gridtable1 tbody tr td p {
    text-align: left;
    font-weight: normal;
    line-height: 12pt;
    font-family: "Helvetica";
    font-size: 10pt;
    color: magenta; }

  table.gridtable1 tbody tr td {
    text-align: left;
    font-weight: normal;
    line-height: 12pt;
    font-family: "Helvetica";
    font-size: 10pt;
    color: magenta; }

  table.gridtable1 thead tr th p {
    text-align: left;
    font-weight: bold;
    line-height: 14pt;
    font-family: "Helvetica";
    font-size: 12pt;
    color: green; }

  table.gridtable1 tbody tr.subhead td {
    background-color: yellow;
    text-align: left;
    font-weight: bold;
    line-height: 14pt;
    font-family: "Helvetica";
    font-size: 12pt;
    color: green; }

  table.gridtable1 tbody tr.subhead td p {
    background-color: yellow;
    text-align: left;
    font-weight: bold;
    line-height: 14pt;
    font-family: "Helvetica";
    font-size: 12pt;
    color: green; }

  table.gridtable2 {
    margin-top: 0.5cm;
    margin-bottom: 0.5cm;
    border-collapse: collapse;
    border-left-style: solid;
    border-left-width: 3px;
    border-left-color: black;
    border-right-style: solid;
    border-right-width: 3px;
    border-right-color: black;
    border-top-style: solid;
    border-top-width: 3px;
    border-top-color: black;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: black;
    margin-left: 2cm; }

  div.codesample2 {
    background-color: gray;
    margin-left: 2cm; }

  div.codesample2:before {
    color: yellow;
    content: "Code Sample\a";
    text-decoration: underline; }

  button.btn2 {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-left: 2cm; }

  table.gridtable2 td {
    display: table-cell;
    vertical-align: top;
    border-width: 3px;
    padding: 4px 4px 8px 8px;
    border-style: solid;
    border-color: black;
    background-color: grey;
    separator-style: double;
    separator-width: 3px;
    text-align: left;
    font-weight: normal;
    line-height: 12pt;
    font-family: "Helvetica";
    font-size: 10pt;
    color: magenta; }

  table.gridtable2 thead tr th {
    display: table-cell;
    vertical-align: top;
    border-width: 3px;
    padding: 4px 4px 8px 8px;
    border-style: solid;
    border-color: black;
    background-color: blue;
    text-align: left;
    font-weight: bold;
    line-height: 14pt;
    font-family: "Helvetica";
    font-size: 12pt;
    color: green; }

  table.gridtable2 tbody tr td p {
    text-align: left;
    font-weight: normal;
    line-height: 12pt;
    font-family: "Helvetica";
    font-size: 10pt;
    color: magenta; }

  table.gridtable2 tbody tr td {
    text-align: left;
    font-weight: normal;
    line-height: 12pt;
    font-family: "Helvetica";
    font-size: 10pt;
    color: magenta; }

  table.gridtable2 thead tr th p {
    text-align: left;
    font-weight: bold;
    line-height: 14pt;
    font-family: "Helvetica";
    font-size: 12pt;
    color: green; }

  table.gridtable2 tbody tr.subhead td {
    background-color: yellow;
    text-align: left;
    font-weight: bold;
    line-height: 14pt;
    font-family: "Helvetica";
    font-size: 12pt;
    color: green; }

  table.gridtable2 tbody tr.subhead td p {
    background-color: yellow;
    text-align: left;
    font-weight: bold;
    line-height: 14pt;
    font-family: "Helvetica";
    font-size: 12pt;
    color: green; }

  div.image {
    margin-top: 0.5cm;
    margin-bottom: 0.5cm;
    page-break-inside: avoid; }

  caption {
    margin-top: 0.3cm;
    margin-bottom: 0.3cm; }

  table.noborder {
    margin-top: 0.5cm;
    margin-bottom: 0.5cm;
    border-collapse: collapse;
    border-style: none; }

  table.noborder td {
    display: table-cell;
    vertical-align: top;
    border-width: 0px;
    padding: 4 4 8 8 px;
    font-size: 10pt;
    border-style: none;
    background-color: white;
    separator-style: none; }

  h1 {
    font-size: 25pt;
    font-weight: 600;
    mc-auto-number-format: "CH:{chapnum}.{n+}.";
    color: black;
    mc-auto-number-position: inside-head;
    mc-auto-number-offset: 0cm;
    mc-auto-number-class: Bullet2; }

  h2 {
    font-size: 20pt;
    font-weight: 600;
    mc-auto-number-format: "CH:{chapnum}.{n}.{n+}.";
    color: black;
    mc-auto-number-position: inside-head;
    mc-auto-number-offset: 0cm;
    mc-auto-number-class: Bullet2; }

  h3 {
    font-size: 16pt;
    font-weight: 600;
    mc-auto-number-format: "CH:{chapnum}.{n}.{n}.{n+}.";
    color: black;
    mc-auto-number-position: inside-head;
    mc-auto-number-offset: 0cm;
    mc-auto-number-class: Bullet2; }

  h4 {
    font-size: 13pt;
    font-weight: 600;
    mc-auto-number-format: "CH:{chapnum}.{n}.{n}.{n}.{n+}.";
    color: black;
    mc-auto-number-position: inside-head;
    mc-auto-number-offset: 0cm;
    mc-auto-number-class: Bullet2; }

  ul {
    font-family: "Source Sans Pro,Arial";
    font-weight: normal;
    font-style: normal;
    font-size: 12pt;
    letter-spacing: 0cm;
    color: black;
    weight: light;
    text-indent: 0cm;
    line-height: 14pt;
    text-decoration: none;
    margin-left: 0cm;
    padding-left: 1cm;
    list-style: disc;
    list-style-position: outside; }

  ol {
    font-family: "Source Sans Pro,Arial";
    font-weight: normal;
    font-style: normal;
    font-size: 12pt;
    letter-spacing: 0cm;
    color: black;
    weight: light;
    text-indent: 0cm;
    line-height: 14pt;
    text-decoration: none;
    margin-left: 0cm;
    padding-left: 1cm;
    list-style-type: decimal;
    list-style-position: outside; }

  ul ol,
  ol ol {
    font-family: "Source Sans Pro,Arial";
    font-weight: normal;
    font-style: normal;
    font-size: 12pt;
    letter-spacing: 0cm;
    color: black;
    weight: light;
    text-indent: 0cm;
    line-height: 14pt;
    text-decoration: none;
    padding-left: 1cm;
    list-style-type: lower-alpha;
    list-style-position: outside; }

  ul ul,
  ol ul {
    font-family: "Source Sans Pro,Arial";
    font-weight: normal;
    font-style: normal;
    font-size: 12pt;
    letter-spacing: 0cm;
    color: black;
    weight: light;
    text-indent: 0cm;
    line-height: 14pt;
    text-decoration: none;
    padding-left: 1cm;
    list-style-type: square;
    list-style-position: outside; }

  ol ol ol,
  ul ol ol,
  ul ul ol,
  ol ul ol {
    font-family: "Source Sans Pro,Arial";
    font-weight: normal;
    font-style: normal;
    font-size: 12pt;
    letter-spacing: 0cm;
    color: black;
    weight: light;
    text-indent: 0cm;
    line-height: 14pt;
    text-decoration: none;
    padding-left: 1cm;
    list-style-type: lower-roman;
    list-style-position: outside; }

  ul ul ul,
  ol ul ul,
  ol ol ul,
  ul ol ul {
    font-family: "Source Sans Pro,Arial";
    font-weight: normal;
    font-style: normal;
    font-size: 12pt;
    letter-spacing: 0cm;
    color: black;
    weight: light;
    text-indent: 0cm;
    line-height: 14pt;
    text-decoration: none;
    padding-left: 1cm;
    list-style-type: circle;
    list-style-position: outside; }

  p.note {
    border-top: 1px solid black;
    color: #66CC99;
    mc-auto-number-format: "{color #66CC99}{b}Note:  {/b}";
    mc-next-tag: p;
    border-bottom: 1px solid black;
    line-height: 19pt;
    margin-left: 0cm; }

  p.warning {
    border-top: 1px solid black;
    color: #ff0000;
    mc-auto-number-format: "{color #ff0000}{b}Warning:  {/b}";
    mc-next-tag: p;
    border-bottom: 1px solid black;
    line-height: 19pt;
    margin-left: 0cm; }

  p.tip {
    border-top: 1px solid black;
    color: orange;
    mc-auto-number-format: "{color orange}{b}Tip:  {/b}";
    mc-next-tag: p;
    border-bottom: 1px solid black;
    line-height: 19pt;
    margin-left: 0cm; }

  div.tip {
    border-top: 1px solid black;
    color: orange;
    mc-auto-number-format: "{color orange}{b}Tip:  {/b}";
    mc-next-tag: p;
    border-bottom: 1px solid black;
    line-height: 19pt;
    margin-left: 0cm; }

  div.note {
    border-top: 1px solid black;
    color: #66CC99;
    mc-auto-number-format: "{color #66CC99}{b}Note:  {/b}";
    mc-next-tag: p;
    border-bottom: 1px solid black;
    line-height: 19pt;
    margin-left: 0cm; }

  div.warning {
    border-top: 1px solid black;
    color: #ff0000;
    mc-auto-number-format: "{color #ff0000}{b}Warning:  {/b}";
    mc-next-tag: p;
    border-bottom: 1px solid black;
    line-height: 19pt;
    margin-left: 0cm; }

  p.note1 {
    border-top: 1px solid black;
    color: #66CC99;
    mc-auto-number-format: "{color #66CC99}{b}Note:  {/b}";
    mc-next-tag: p;
    border-bottom: 1px solid black;
    line-height: 19pt;
    margin-left: 1cm; }

  p.warning1 {
    border-top: 1px solid black;
    color: #ff0000;
    mc-auto-number-format: "{color #ff0000}{b}Warning:  {/b}";
    mc-next-tag: p;
    border-bottom: 1px solid black;
    line-height: 19pt;
    margin-left: 1cm; }

  p.tip1 {
    border-top: 1px solid black;
    color: orange;
    mc-auto-number-format: "{color orange}{b}Tip:  {/b}";
    mc-next-tag: p;
    border-bottom: 1px solid black;
    line-height: 19pt;
    margin-left: 1cm; }

  div.tip1 {
    border-top: 1px solid black;
    color: orange;
    mc-auto-number-format: "{color orange}{b}Tip:  {/b}";
    mc-next-tag: p;
    border-bottom: 1px solid black;
    line-height: 19pt;
    margin-left: 1cm; }

  div.note1 {
    border-top: 1px solid black;
    color: #66CC99;
    mc-auto-number-format: "{color #66CC99}{b}Note:  {/b}";
    mc-next-tag: p;
    border-bottom: 1px solid black;
    line-height: 19pt;
    margin-left: 1cm; }

  div.warning1 {
    border-top: 1px solid black;
    color: #ff0000;
    mc-auto-number-format: "{color #ff0000}{b}Warning:  {/b}";
    mc-next-tag: p;
    border-bottom: 1px solid black;
    line-height: 19pt;
    margin-left: 1cm; }

  p.note2 {
    border-top: 1px solid black;
    color: #66CC99;
    mc-auto-number-format: "{color #66CC99}{b}Note:  {/b}";
    mc-next-tag: p;
    border-bottom: 1px solid black;
    line-height: 19pt;
    margin-left: 2cm; }

  p.warning2 {
    border-top: 1px solid black;
    color: #ff0000;
    mc-auto-number-format: "{color #ff0000}{b}Warning:  {/b}";
    mc-next-tag: p;
    border-bottom: 1px solid black;
    line-height: 19pt;
    margin-left: 2cm; }

  p.tip2 {
    border-top: 1px solid black;
    color: orange;
    mc-auto-number-format: "{color orange}{b}Tip:  {/b}";
    mc-next-tag: p;
    border-bottom: 1px solid black;
    line-height: 19pt;
    margin-left: 2cm; }

  div.tip2 {
    border-top: 1px solid black;
    color: orange;
    mc-auto-number-format: "{color orange}{b}Tip:  {/b}";
    mc-next-tag: p;
    border-bottom: 1px solid black;
    line-height: 19pt;
    margin-left: 2cm; }

  div.note2 {
    border-top: 1px solid black;
    color: #66CC99;
    mc-auto-number-format: "{color #66CC99}{b}Note:  {/b}";
    mc-next-tag: p;
    border-bottom: 1px solid black;
    line-height: 19pt;
    margin-left: 2cm; }

  div.warning2 {
    border-top: 1px solid black;
    color: #ff0000;
    mc-auto-number-format: "{color #ff0000}{b}Warning:  {/b}";
    mc-next-tag: p;
    border-bottom: 1px solid black;
    line-height: 19pt;
    margin-left: 2cm; } }
/* WEB STYLESHEET  */
@media screen {
  .test {
    color: #84d6ad;
    color: #a3e0c2;
    color: #c2ebd6;
    color: #e0f5eb; }

  div.nopagebreak {
    page-break-inside: avoid; }

  div.pagebreakbefore {
    page-break-before: always; }

  .code {
    unicode-bidi: embed;
    font-family: monospace;
    color: red;
    white-space: pre;
    mc-language: none;
    mc-hyphenate: never; }

  .parameter {
    background: #adadad;
    font-family: monospace;
    color: white;
    mc-language: none; }

  .nospell {
    mc-language: none; }

  p.FigureCaption {
    text-align: left;
    margin-left: 0em;
    margin-right: 0em;
    margin-top: 0em;
    margin-bottom: 0em;
    letter-spacing: 0em;
    font-family: "Source Sans Pro,Arial";
    font-weight: bold;
    font-style: normal;
    font-size: 11pt;
    color: #852064;
    mc-hyphenate: never;
    text-indent: 0em;
    line-height: 13pt;
    text-decoration: none; }

  .UItext {
    font-family: Arial;
    font-weight: bold; }

  p {
    text-align: left;
    margin-left: 0em;
    margin-right: 0em;
    margin-top: 0em;
    margin-bottom: 0em;
    letter-spacing: 0em;
    font-family: "Source Sans Pro,Arial";
    font-weight: normal;
    font-style: normal;
    font-size: 12pt;
    letter-spacing: 0em;
    color: #000000;
    weight: light;
    text-indent: 0em;
    line-height: 14pt;
    text-decoration: none;
    text-indent: 0em; }

  p.indent1 {
    text-align: left;
    margin-left: 0em;
    margin-right: 0em;
    margin-top: 0em;
    margin-bottom: 0em;
    letter-spacing: 0em;
    font-family: "Source Sans Pro,Arial";
    font-weight: normal;
    font-style: normal;
    font-size: 12pt;
    letter-spacing: 0em;
    color: #000000;
    weight: light;
    text-indent: 0em;
    line-height: 14pt;
    text-decoration: none;
    text-indent: 3em; }

  p.indent2 {
    text-align: left;
    margin-left: 0em;
    margin-right: 0em;
    margin-top: 0em;
    margin-bottom: 0em;
    letter-spacing: 0em;
    font-family: "Source Sans Pro,Arial";
    font-weight: normal;
    font-style: normal;
    font-size: 12pt;
    letter-spacing: 0em;
    color: #000000;
    weight: light;
    text-indent: 0em;
    line-height: 14pt;
    text-decoration: none;
    text-indent: 6em; }

  table.gridtable {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-collapse: collapse;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: black;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: black;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: black;
    margin-left: 0em; }

  div.codesample {
    background-color: gray;
    margin-left: 0em; }

  div.codesample:before {
    color: yellow;
    content: "Code Sample\a";
    text-decoration: underline; }

  button.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-left: 0em; }

  table.gridtable td {
    display: table-cell;
    vertical-align: top;
    border-width: 1px;
    padding: 4px 4px 8px 8px;
    border-style: solid;
    border-color: black;
    background-color: white;
    separator-style: double;
    separator-width: 1px;
    text-align: left;
    font-weight: normal;
    line-height: 14pt;
    font-family: "Source Sans Pro,Arial";
    font-size: 12pt;
    color: black; }

  table.gridtable thead tr th {
    display: table-cell;
    vertical-align: top;
    border-width: 1px;
    padding: 4px 4px 8px 8px;
    border-style: solid;
    border-color: black;
    background-color: #a6a6a6;
    text-align: left;
    font-weight: bold;
    line-height: 16pt;
    font-family: "Source Sans Pro,Arial";
    font-size: 14pt;
    color: white; }

  table.gridtable tbody tr td p {
    text-align: left;
    font-weight: normal;
    line-height: 14pt;
    font-family: "Source Sans Pro,Arial";
    font-size: 12pt;
    color: black; }

  table.gridtable tbody tr td {
    text-align: left;
    font-weight: normal;
    line-height: 14pt;
    font-family: "Source Sans Pro,Arial";
    font-size: 12pt;
    color: black; }

  table.gridtable thead tr th p {
    text-align: left;
    font-weight: bold;
    line-height: 16pt;
    font-family: "Source Sans Pro,Arial";
    font-size: 14pt;
    color: white; }

  table.gridtable tbody tr.subhead td {
    background-color: #862165;
    text-align: left;
    font-weight: bold;
    line-height: 16pt;
    font-family: "Source Sans Pro,Arial";
    font-size: 14pt;
    color: white; }

  table.gridtable tbody tr.subhead td p {
    background-color: #862165;
    text-align: left;
    font-weight: bold;
    line-height: 16pt;
    font-family: "Source Sans Pro,Arial";
    font-size: 14pt;
    color: white; }

  table.gridtable1 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-collapse: collapse;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: black;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: black;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: black;
    margin-left: 3em; }

  div.codesample1 {
    background-color: gray;
    margin-left: 3em; }

  div.codesample1:before {
    color: yellow;
    content: "Code Sample\a";
    text-decoration: underline; }

  button.btn1 {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-left: 3em; }

  table.gridtable1 td {
    display: table-cell;
    vertical-align: top;
    border-width: 1px;
    padding: 4px 4px 8px 8px;
    border-style: solid;
    border-color: black;
    background-color: white;
    separator-style: double;
    separator-width: 1px;
    text-align: left;
    font-weight: normal;
    line-height: 14pt;
    font-family: "Source Sans Pro,Arial";
    font-size: 12pt;
    color: black; }

  table.gridtable1 thead tr th {
    display: table-cell;
    vertical-align: top;
    border-width: 1px;
    padding: 4px 4px 8px 8px;
    border-style: solid;
    border-color: black;
    background-color: #a6a6a6;
    text-align: left;
    font-weight: bold;
    line-height: 16pt;
    font-family: "Source Sans Pro,Arial";
    font-size: 14pt;
    color: white; }

  table.gridtable1 tbody tr td p {
    text-align: left;
    font-weight: normal;
    line-height: 14pt;
    font-family: "Source Sans Pro,Arial";
    font-size: 12pt;
    color: black; }

  table.gridtable1 tbody tr td {
    text-align: left;
    font-weight: normal;
    line-height: 14pt;
    font-family: "Source Sans Pro,Arial";
    font-size: 12pt;
    color: black; }

  table.gridtable1 thead tr th p {
    text-align: left;
    font-weight: bold;
    line-height: 16pt;
    font-family: "Source Sans Pro,Arial";
    font-size: 14pt;
    color: white; }

  table.gridtable1 tbody tr.subhead td {
    background-color: #862165;
    text-align: left;
    font-weight: bold;
    line-height: 16pt;
    font-family: "Source Sans Pro,Arial";
    font-size: 14pt;
    color: white; }

  table.gridtable1 tbody tr.subhead td p {
    background-color: #862165;
    text-align: left;
    font-weight: bold;
    line-height: 16pt;
    font-family: "Source Sans Pro,Arial";
    font-size: 14pt;
    color: white; }

  table.gridtable2 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border-collapse: collapse;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: black;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: black;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: black;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: black;
    margin-left: 6em; }

  div.codesample2 {
    background-color: gray;
    margin-left: 6em; }

  div.codesample2:before {
    color: yellow;
    content: "Code Sample\a";
    text-decoration: underline; }

  button.btn2 {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-left: 6em; }

  table.gridtable2 td {
    display: table-cell;
    vertical-align: top;
    border-width: 1px;
    padding: 4px 4px 8px 8px;
    border-style: solid;
    border-color: black;
    background-color: white;
    separator-style: double;
    separator-width: 1px;
    text-align: left;
    font-weight: normal;
    line-height: 14pt;
    font-family: "Source Sans Pro,Arial";
    font-size: 12pt;
    color: black; }

  table.gridtable2 thead tr th {
    display: table-cell;
    vertical-align: top;
    border-width: 1px;
    padding: 4px 4px 8px 8px;
    border-style: solid;
    border-color: black;
    background-color: #a6a6a6;
    text-align: left;
    font-weight: bold;
    line-height: 16pt;
    font-family: "Source Sans Pro,Arial";
    font-size: 14pt;
    color: white; }

  table.gridtable2 tbody tr td p {
    text-align: left;
    font-weight: normal;
    line-height: 14pt;
    font-family: "Source Sans Pro,Arial";
    font-size: 12pt;
    color: black; }

  table.gridtable2 tbody tr td {
    text-align: left;
    font-weight: normal;
    line-height: 14pt;
    font-family: "Source Sans Pro,Arial";
    font-size: 12pt;
    color: black; }

  table.gridtable2 thead tr th p {
    text-align: left;
    font-weight: bold;
    line-height: 16pt;
    font-family: "Source Sans Pro,Arial";
    font-size: 14pt;
    color: white; }

  table.gridtable2 tbody tr.subhead td {
    background-color: #862165;
    text-align: left;
    font-weight: bold;
    line-height: 16pt;
    font-family: "Source Sans Pro,Arial";
    font-size: 14pt;
    color: white; }

  table.gridtable2 tbody tr.subhead td p {
    background-color: #862165;
    text-align: left;
    font-weight: bold;
    line-height: 16pt;
    font-family: "Source Sans Pro,Arial";
    font-size: 14pt;
    color: white; }

  div.image {
    margin-top: 0.5cm;
    margin-bottom: 0.5cm;
    page-break-inside: avoid; }

  caption {
    margin-top: 0.3cm;
    margin-bottom: 0.3cm; }

  table.noborder {
    margin-top: 0.5cm;
    margin-bottom: 0.5cm;
    border-collapse: collapse;
    border-style: none; }

  table.noborder td {
    display: table-cell;
    vertical-align: top;
    border-width: 0px;
    padding: 4 4 8 8 px;
    font-size: 10pt;
    border-style: none;
    background-color: white;
    separator-style: none; }

  h1 {
    font-size: 25pt;
    font-weight: 600;
    color: #66CC99; }

  h2 {
    font-size: 20pt;
    font-weight: 600;
    color: #66CC99; }

  h3 {
    font-size: 16pt;
    font-weight: 600;
    color: #66CC99; }

  h4 {
    font-size: 13pt;
    font-weight: 600;
    color: #66CC99; }

  ul {
    font-family: "Source Sans Pro,Arial";
    font-weight: normal;
    font-style: normal;
    font-size: 12pt;
    letter-spacing: 0em;
    color: #000000;
    weight: light;
    text-indent: 0em;
    line-height: 14pt;
    text-decoration: none;
    margin-left: 0em;
    padding-left: 3em;
    list-style: disc;
    list-style-position: outside; }

  ol {
    font-family: "Source Sans Pro,Arial";
    font-weight: normal;
    font-style: normal;
    font-size: 12pt;
    letter-spacing: 0em;
    color: #000000;
    weight: light;
    text-indent: 0em;
    line-height: 14pt;
    text-decoration: none;
    margin-left: 0em;
    padding-left: 3em;
    list-style-type: decimal;
    list-style-position: outside; }

  ul ol,
  ol ol {
    font-family: "Source Sans Pro,Arial";
    font-weight: normal;
    font-style: normal;
    font-size: 12pt;
    letter-spacing: 0em;
    color: #000000;
    weight: light;
    text-indent: 0em;
    line-height: 14pt;
    text-decoration: none;
    padding-left: 3em;
    list-style-type: lower-alpha;
    list-style-position: outside; }

  ul ul,
  ol ul {
    font-family: "Source Sans Pro,Arial";
    font-weight: normal;
    font-style: normal;
    font-size: 12pt;
    letter-spacing: 0em;
    color: #000000;
    weight: light;
    text-indent: 0em;
    line-height: 14pt;
    text-decoration: none;
    padding-left: 3em;
    list-style-type: square;
    list-style-position: outside; }

  ol ol ol,
  ul ol ol,
  ul ul ol,
  ol ul ol {
    font-family: "Source Sans Pro,Arial";
    font-weight: normal;
    font-style: normal;
    font-size: 12pt;
    letter-spacing: 0em;
    color: #000000;
    weight: light;
    text-indent: 0em;
    line-height: 14pt;
    text-decoration: none;
    padding-left: 3em;
    list-style-type: lower-roman;
    list-style-position: outside; }

  ul ul ul,
  ol ul ul,
  ol ol ul,
  ul ol ul {
    font-family: "Source Sans Pro,Arial";
    font-weight: normal;
    font-style: normal;
    font-size: 12pt;
    letter-spacing: 0em;
    color: #000000;
    weight: light;
    text-indent: 0em;
    line-height: 14pt;
    text-decoration: none;
    padding-left: 3em;
    list-style-type: circle;
    list-style-position: outside; }

  /* http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript+c+csharp+http+java+ruby&plugins=line-highlight+line-numbers+file-highlight+highlight-keywords */
  /**
   * prism.js default theme for JavaScript, CSS and HTML
   * Based on dabblet (http://dabblet.com)
   * @author Lea Verou
   */
  code[class*="language-"],
  pre[class*="language-"] {
    color: black;
    text-shadow: 0 1px white;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none; }

  pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
  code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
    text-shadow: none;
    background: #b3d4fc; }

  pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
  code[class*="language-"]::selection, code[class*="language-"] ::selection {
    text-shadow: none;
    background: #b3d4fc; }

  /* Code blocks */
  pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto; }

  :not(pre) > code[class*="language-"],
  pre[class*="language-"] {
    background: #f5f2f0; }

  /* Inline code */
  :not(pre) > code[class*="language-"] {
    padding: .1em;
    border-radius: .3em; }

  .token.comment,
  .token.prolog,
  .token.doctype,
  .token.cdata {
    color: slategray; }

  .token.punctuation {
    color: #999; }

  .namespace {
    opacity: .7; }

  .token.property,
  .token.tag,
  .token.boolean,
  .token.number,
  .token.constant,
  .token.symbol,
  .token.deleted {
    color: #905; }

  .token.selector,
  .token.attr-name,
  .token.string,
  .token.char,
  .token.builtin,
  .token.inserted {
    color: #690; }

  .token.operator,
  .token.entity,
  .token.url,
  .language-css .token.string,
  .style .token.string {
    color: #a67f59;
    background: rgba(255, 255, 255, 0.5); }

  .token.atrule,
  .token.attr-value,
  .token.keyword {
    color: #07a; }

  .token.function {
    color: #DD4A68; }

  .token.regex,
  .token.important,
  .token.variable {
    color: #e90; }

  .token.important,
  .token.bold {
    font-weight: bold; }

  .token.italic {
    font-style: italic; }

  .token.entity {
    cursor: help; }

  pre[data-line] {
    position: relative;
    padding: 1em 0 1em 3em; }

  .line-highlight {
    position: absolute;
    left: 0;
    right: 0;
    padding: inherit 0;
    margin-top: 1em;
    /* Same as .prismÔÇÖs padding-top */
    background: rgba(153, 122, 102, 0.08);
    background: -moz-linear-gradient(left, rgba(153, 122, 102, 0.1) 70%, rgba(153, 122, 102, 0));
    background: -webkit-linear-gradient(left, rgba(153, 122, 102, 0.1) 70%, rgba(153, 122, 102, 0));
    background: -o-linear-gradient(left, rgba(153, 122, 102, 0.1) 70%, rgba(153, 122, 102, 0));
    background: linear-gradient(left, rgba(153, 122, 102, 0.1) 70%, rgba(153, 122, 102, 0));
    pointer-events: none;
    line-height: inherit;
    white-space: pre; }

  .line-highlight:before,
  .line-highlight[data-end]:after {
    content: attr(data-start);
    position: absolute;
    top: .4em;
    left: .6em;
    min-width: 1em;
    padding: 0 .5em;
    background-color: rgba(153, 122, 102, 0.4);
    color: #f5f2f0;
    font: bold 65%/1.5 sans-serif;
    text-align: center;
    vertical-align: .3em;
    border-radius: 999px;
    text-shadow: none;
    box-shadow: 0 1px white; }

  .line-highlight[data-end]:after {
    content: attr(data-end);
    top: auto;
    bottom: .4em; }

  pre.line-numbers {
    position: relative;
    padding-left: 3.8em;
    counter-reset: linenumber; }

  pre.line-numbers > code {
    position: relative; }

  .line-numbers .line-numbers-rows {
    position: absolute;
    pointer-events: none;
    top: 0;
    font-size: 100%;
    left: -3.8em;
    width: 3em;
    /* works for line-numbers below 1000 lines */
    letter-spacing: -1px;
    border-right: 1px solid #999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }

  .line-numbers-rows > span {
    pointer-events: none;
    display: block;
    counter-increment: linenumber; }

  .line-numbers-rows > span:before {
    content: counter(linenumber);
    color: #999;
    display: block;
    padding-right: 0.8em;
    text-align: right; }

  p.note:before {
    color: #66CC99;
    mc-next-tag: p;
    content: "Note:"; }

  p.warning:before {
    color: #ff0000;
    mc-next-tag: p;
    content: "Warning:"; }

  p.tip:before {
    color: orange;
    mc-next-tag: p;
    content: "Tip:"; }

  div.tip:before {
    color: orange;
    mc-next-tag: p;
    content: "Tip:"; }

  div.note:before {
    color: #66CC99;
    mc-next-tag: p;
    content: "Note:"; }

  div.warning:before {
    color: #ff0000;
    mc-next-tag: p;
    content: "Warning:"; }

  p.note {
    margin-left: 0em; }

  p.warning {
    margin-left: 0em; }

  p.tip {
    margin-left: 0em; }

  div.tip {
    margin-left: 0em; }

  div.note {
    margin-left: 0em; }

  div.warning {
    margin-left: 0em; }

  p.note1:before {
    color: #66CC99;
    mc-next-tag: p;
    content: "Note:"; }

  p.warning1:before {
    color: #ff0000;
    mc-next-tag: p;
    content: "Warning:"; }

  p.tip1:before {
    color: orange;
    mc-next-tag: p;
    content: "Tip:"; }

  div.tip1:before {
    color: orange;
    mc-next-tag: p;
    content: "Tip:"; }

  div.note1:before {
    color: #66CC99;
    mc-next-tag: p;
    content: "Note:"; }

  div.warning1:before {
    color: #ff0000;
    mc-next-tag: p;
    content: "Warning:"; }

  p.note1 {
    margin-left: 3em; }

  p.warning1 {
    margin-left: 3em; }

  p.tip1 {
    margin-left: 3em; }

  div.tip1 {
    margin-left: 3em; }

  div.note1 {
    margin-left: 3em; }

  div.warning1 {
    margin-left: 3em; }

  p.note2:before {
    color: #66CC99;
    mc-next-tag: p;
    content: "Note:"; }

  p.warning2:before {
    color: #ff0000;
    mc-next-tag: p;
    content: "Warning:"; }

  p.tip2:before {
    color: orange;
    mc-next-tag: p;
    content: "Tip:"; }

  div.tip2:before {
    color: orange;
    mc-next-tag: p;
    content: "Tip:"; }

  div.note2:before {
    color: #66CC99;
    mc-next-tag: p;
    content: "Note:"; }

  div.warning2:before {
    color: #ff0000;
    mc-next-tag: p;
    content: "Warning:"; }

  p.note2 {
    margin-left: 6em; }

  p.warning2 {
    margin-left: 6em; }

  p.tip2 {
    margin-left: 6em; }

  div.tip2 {
    margin-left: 6em; }

  div.note2 {
    margin-left: 6em; }

  div.warning2 {
    margin-left: 6em; } }

/*# sourceMappingURL=output.css.map */
